{% extends 'portfolio/layout.html' %}

{% block main %}
    <div class="escola">
        <div class="painel">
            <h3 class="titulo">Contactos</h3>
            <div class="disciplina">
                <p>Email: ricardo.soares.duarte@gmail.com</p>
                <br>
            </div>
            <div class="disciplina">
                <p><a href="https://twitter.com/BadiGamesxD">Twitter</a> <a href="https://www.linkedin.com/in/ricardo-duarte-1a50b1209/">Linkedin</a></p>
            </div>
        </div>
    </div>
{% endblock %}