{% extends 'portfolio/layout.html' %}

{% block main %}
    <div class="escola">
        <div class="painel">
            <h3 class="titulo">Formação</h3>
            <div class="disciplina">
                <p>(Em progresso) Licenciatura Engenharia Informática</p>
            </div>
            <div class="disciplina">
                <p>Curso Profissional de Gestão e Programação de Sistemas Informáticos</p>
            </div>

            <h3 class="titulo">Voluntariado</h3>
            <div class="disciplina">
                <p>Banco Alimentar</p>
            </div>
            <div class="disciplina">
                <p>Campanha do Pacote</p>
            </div>
            <div class="disciplina">
                <p>Pernoita no Lar Padre Roberto Squeira</p>
            </div>
        </div>
    </div>
{% endblock %}